
.container {
    display: flex;
    flex-direction: column;
}

.heading {
    color: rgba(51, 51, 51, 1.0);
    font-family: Noto Sans JP;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}