
.container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.inputsArea {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.selectDateContainer {
    display: flex;
    column-gap: 10px;
    align-items: center;
}