
.container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin: 0 auto;
    border: 1px gray solid;
    padding: 20px;
}

.heading {
    color: rgba(51, 51, 51, 1.0);
    font-family: Noto Sans JP;
    font-size: 18px;
    margin: 0;
}

.checkboxArea {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 10px;
}

.more {
    margin: 0;
    text-align: right;
}

.moreText {
    color: rgba(51, 51, 51, 1.0);
}