
.container {
    display: flex;
    flex-direction: column;
}

.tabArea {
    display: flex;
    flex-direction: row;
}

.form {
    border: 1px gray solid;
    background: #FFF;
    padding: 20px 10px 30px 10px;
}

.tabLine {
    flex: 1;
    border-bottom: 1px solid rgba(51, 51, 51, 0.20);
}