
.container {
    border: 1px solid rgba(51, 51, 51, 0.20);
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 5px 30px;
}

.titleArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}