
.container {
    display: flex;
    flex-direction: column;
}

.labelText {
    color: rgba(51, 51, 51, 1.0);
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input {
    width: 90%;
    border-radius: 5px;
    border: 2px solid rgba(51, 51, 51, 0.70);
    padding: 5px;
}

.input:focus {
    border: 2px solid #468BEA;
    outline: none;
}

.inputArea {
    margin: 0
}