
.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.inputArea {
    width: 80%;
    background: #FFF;
}

.input {
    width: 100%;
    border-radius: 5px;
    border: 2px solid rgba(51, 51, 51, 0.70);
    height: 10px; /* 高さを設定 */
    padding: 10px; /* 内側の余白 */
    font-size: 14px; /* 文字サイズ */
}

.input[type="text"]:focus {
    border: 2px solid #468BEA;
    outline: none;
}

.iconArea {
    background: #FFF;
    width: 10%;
    cursor: pointer;
    vertical-align: middle;
}

.searchBtn {
    border: none;
    background-color: #FFF;
    border-radius: 5px;
    border: 2px solid rgba(51, 51, 51, 0.70);
}