
.box {
    border: 1px dashed rgba(51, 51, 51, 1.0);
    background: rgba(51, 51, 51, 0.20);
    height: 80px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
}

.text {
    color: #333;
    /* font-family: Noto Sans JP; */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.numberIcon {
    width: 25px;
    height: 25px;
    background-color: rgba(51, 51, 51, 1.0);
    clip-path: circle(12.5px at 50% 50%);
    position: relative;
}

.number {
    color: #FFFFFF;
    position: absolute;
    left: 25%;
    top: calc(height / 2);
    transform: translate(6.25%, 6.25%)
}