
.container {
    border-radius: 5px 5px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 5px 10px;
    border: none;
    outline: none;
    cursor: pointer;
    width: inherit;
    font: inherit;
    color: inherit;
    background: none;
    font-size: 14px;
}

.active {
    border-top: 1px solid rgba(51, 51, 51, 0.20);
    border-right: 1px solid rgba(51, 51, 51, 0.20);
    border-left: 1px solid rgba(51, 51, 51, 0.20);
    background: #FFF;
    color: #33333;
}

.disactive {
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    border-left: 1px solid #333;
    background: #333;
    color: #FFF;
}

.activeText {
    color: #33333;
}

.disactiveText {
    color: #FFF;
}