.container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
}

.infoContainer {
    padding: 20px;
    border: 1px solid rgba(51, 51, 51, 0.20);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.inputContainer {
    margin: 0;
}

.lebel {
    width: 100%
}

.input {
    width: 80%;
    height: 20px;
}

.radioContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    column-gap: 30px;
    padding: 20px;
    border: 1px solid rgba(51, 51, 51, 0.20);
}

.inputLabel {
    width: 100%;
}